@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container" style="padding: 0 !important;">
    <div class="row pb-5">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="">
                <h1 class="ml-6">Menù</h1>
            </div>
            @if (User.IsInRole("ADMIN"))
            {
                <div class="col-2 d-flex justify-content-end text-center pl-4">
                    <a href="@Url.Action("Create", "Pizzeria")" class="btn btn-primary">Aggiungi pizza</a>
                </div>
            }
        </div>
    </div>

    <div>
        <div id="no-pizzas" class="d-none">
            <h2>
                Non ci sono pizze nel menù.
            </h2>
        </div>
        
        <div id="pizzas">
            @*@foreach (var pizza in Model)
            {
                <div class="row mb-3">
                    <div class="col d-flex align-items-center fs-4 pb-2">
                        <div class="col-4">
                            <img src="~/img/@pizza.Image" style="width: 250px; height: 170px;" />
                        </div>
                        <div class="col-3 text-center fw-bold">
                            @pizza.Name
                        </div>
                        <div class="col-2 text-center fw-bold">
                            @pizza.Price &euro;
                        </div>
                        <div class="col-3 text-center pl-4">
                            @if (User.IsInRole("ADMIN"))
                            {
                                <a href="@Url.Action("Update", "Pizzeria", new { id = pizza.Id })" class="btn" style="background-color:green; color:white;">Modifica</a>

                            }
                            <a href="@Url.Action("Details", "Pizzeria", new { id = pizza.Id })" class="btn btn-primary">Dettagli</a>
                            @if (User.IsInRole("ADMIN"))
                            {
                                <form asp-controller="Pizzeria" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Elimina
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }*@
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/API/index.js"></script>
}